/* BookingForm.module.css */

.formContainer {
  padding: 20px;
  width: 100%;
  height: 100vh; /* Faz o container ocupar toda a altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os itens fiquem no topo */
  align-items: center;
  background-color: #e8f0f9; /* Fundo suave para contraste */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: left;
  margin-left: 20px;

  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
  width: 100%;
}

.headerDescription {
  text-align: left;
  color: #777;
  font-size: 1rem;
  margin-bottom: 30px;
  width: 100%;
}

.professionalList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Garante que os cards comecem no início da linha */
  width: 100%; /* Ocupar toda a largura disponível */
}

.card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Adicionando sombra */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efeito de sombra mais forte ao passar o mouse */
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.cardInfo {
  text-align: center;
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
